<div class="container">
<div class="row">

<%= form_for(@user) do |f| %>

  <h2>User info</h2>
  <p>Name</p>
  <%= f.text_field :name, autofocus: true, id:"inputEmail" %>

  <p>Image</p>
  <%= f.attachment_field :profile_image, placeholder: "プロフィール画像" %>

  <br>

  <p>Introduction</p>
  <%= f.text_area :introduction %>

  <br>

  <%= f.submit "Update User" %>


<% end %>

</div></div>