<!-- サイドバー USER INFO -->
<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <div class="col-xs-3">
      <h2>User info</h2><br>


      <td><%= attachment_image_tag @user,
       :profile_image, :fill, 70, 70, format: 'jpeg', fallback: "no_image.jpg" %></td>

      <table class="table">
      <theat>
      <tbody>
        <tr>
           <th>name</th>
           <td><%= @user.name %></td>
        </tr>
        <tr>
           <th>introduction</th>
           <td><%= @user.introduction %></td>
        </tr>
      </tbody>
      </theat>
      </table>
      <!-- 自己紹介編集 -->

        <%= link_to edit_user_path(current_user)  do %>
        <li class= "btn btn-secondary, btn-block btn-lg btn-block">
        <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span></li>
        <% end %>

      <!-- NEW BOOK -->

      <%= form_for(@book, url:'/books') do |f| %>

       <% if @book.errors.any? %>
         <ul>
          <% @book.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
         </ul>
　　　　<% end %>

      <h2>New book</h2>

      <h6>Title</h6>
      <%= f.text_field :title%>

      <h6>Body</h6>
      <%= f.text_area :body%><br>

      <%= f.submit 'Create Book', class: "btn btn_primary" %>
      <% end %>
      <br>

    </div>
<!-- 画像 -->

<!--  右テーブル -->
    <div class="col-xs-9">

      <H2>Users</H2>
      <table class="table"> 
      <theat>
        <tr>
           <th>Image</th>
           <th>Name</th>
           <th></th>
           <th colspan="2"></th>
      </tr>
      </theat>

     <% @users.each do |user|%>
      <tbody>
        <tr>
           <td><%= attachment_image_tag user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></td>
           <td><%= user.name %></td>
           <td><%=link_to"Show",user_path(user.id) %></td>
        </tr>
      </tbody>
      <% end %>

      </table>
    </div>
  </div>
</div>
