<!-- サイドバー USER INFO -->

<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <div class="col-xs-3">
      <h2>User info</h2><br>


      <td><%= attachment_image_tag @user, :profile_image, :fill, 70, 70, format: 'jpeg', fallback: "no_image.jpg" %></td>

      <table class="table">
      <theat>
      <tbody>
        <tr>
           <th>name</th>
           <td><%= @user.name %></td>
        </tr>
        <tr>
           <th>introduction</th>
           <td><%= @user.introduction %></td>
        </tr>
      </tbody>
      </theat>
      </table>
      <!-- 自己紹介編集 -->
      <% if @user.id == current_user.id %>



         <%= link_to"★", edit_user_path(@user),class:" btn btn-secondary, btn-block"%>
         <% end %>

      <!-- NEW BOOK -->
      <%= form_for(@book, url:'/books') do |f| %>

      <h2>New book</h2>

　　　<!-- エラー文 -->

      <!-- エラー文 -->

      <h6>Title</h6>
      <%= f.text_field :title%>

      <h6>Body</h6>
      <%= f.text_area :body%><br>

      <%= f.submit'Create Book', class:"btn btn_secondary"%>
      <% end %>
      <br>

    </div>
<!-- 画像 -->

<!--  右テーブル -->
    <div class="col-xs-9">
      <H2>Book detail</H2>
      <tr>
      <theat>
        <tr>
           <th></th>
           <th></th>
           <th></th>
           <th colspan="2"></th>
        </tr>
      </theat>
     <table class="table">
      <tbody>
        <tr>
           <td><%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format: 'jpeg', fallback: "no_image.jpg" %></td>
           <td><%= @book.title %></td>
           <td><%= @book.body %></td>
           <td > <%= link_to "Edit", edit_book_path, class:"btn btn-info" %></td>
           <td><%= link_to "Destroy", book_path(@book.id), class:"btn btn-danger", method: :delete, "data-confirm" => "Are you sure?" %></td>

        </tr>
      </tbody>

      </table>
    </div>
  </div>
</div>

