<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
<!-- ? -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!-- 多分画面サイズの話 -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bookers</title>
    <!-- font変えるならここに設定 -->
  </head>

  <body>

 <!-- ヘッダーデザインここから -->
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarEexample4">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        Bookers
      </a>
    </div>

    <div class="collapse navbar-collapse" id="navbarEexample4">
      <ul class="nav navbar-nav navbar-right">

      <% if user_signed_in? %>

          <li class="">
          <%= link_to user_path(current_user) do %>
          <p><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Home</p>
          <% end %></li>

          <li class="">
          <%= link_to users_path do %>
          <p><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Users</p>
          <% end %></li>

          <li class="">
          <%= link_to books_path do %>
          <p><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span> Books</p>
          <% end %></li>

          <li class="">
          <%= link_to destroy_user_session_path, method: :delete do %>
          <p><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> logout</p>
          <% end %></li>

      <% else %>

          <li class="">
          <%= link_to root_path do %>
          <p><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Home</p>
          <% end %></li>

          <li class="">
          <%= link_to about_path do %>
          <p><span class="glyphicon glyphicon-tree-conifer" aria-hidden="true"></span> About</p>
          <% end %></li>

          <li class="">
          <%= link_to new_user_registration_path do %>
          <p><span class="glyphicon glyphicon-record" aria-hidden="true"></span> sign up</p>
          <% end %></li>

          <li class="">
          <%= link_to user_session_path do %>
          <p><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> log in</p>
          <% end %></li>


      <% end %>
      </ul>
    </div>
</nav>
<!-- ここまで -->
    <%= yield %>

  </body>
</html>